<!-- header -->
<%- include('include/_header') %>
<!-- /header -->


<!-- navbar -->
<%- include('include/_navbar') %>
<!-- /navbar -->


<div class="container mt-4 mt-md-5 main">
    <div class="row my-1 my-md-4 align-items-center ">
        <div class="col-md-6 text-center">
            <% if (successMessage) { %>
            <div id="successAlert" class="alert alert-success alert-dismissible fade show mb-0 py-md-1 p-2 d-flex align-items-center d-none d-md-block text-start" role="alert">
                <p class="mb-0"><%= successMessage %></p>
                <button type="button" class="btn-close py-1 my-1" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
        </div>
        <div class="col-md-6 text-md-end text-center">
            <a href="/medicine/add-medicine" type="button" class="btn btn-primary">
                <i class="bi bi-plus-circle-fill me-2"></i></i>Add medicine
            </a>
        </div>

        
        <div class="col-md-6 text-center d-md-none my-2">
            <span id="successSpan" class="invisible text-success fw-semibold">
                <% if (successMessage) { %>
                    <%= successMessage %>
                <% } %>
            </span>
        </div>
        
    </div>
    <div class="table-responsive">
        <table class="table table-striped align-middle table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Medicine Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% if (allMedicines.length === 0) { %>
                    <tr>
                        <td colspan="6" class="text-center fw-semibold py-3 fs-5">No medicine</td>
                    </tr>
                <% } else { %>
                <!-- Show Medicine -->
                <%- include('include/_showMedicine', {medicines: allMedicines}) %>
                <!-- /Show Medicine -->
                <% } %>
            </tbody>
        </table>
    </div>
</div>


<!-- footer -->
<%- include('include/_footer') %>
<!-- /footer -->